/* -------------------------- Blue buble background ------------------------- */

.blue_bubbles {
  background-image: url("/images/background-images/blue/mobile_blue_background.jpg");
  background-repeat: no-repeat;
  background-position: center 20vh;
  background-size: contain;
  background-attachment: fixed;
  padding-bottom: 20px;
}

@media only screen and (width: 768px) {
  .blue_bubbles {
    background-image: url("/images/background-images/blue/tablet_blue_background.png");
    background-position: center 140px;
  }
}
@media only screen and (min-width: 1024px) {
  .blue_bubbles {
    background-image: url("/images/background-images/blue/desktop_blue_background.jpg");
    background-position: center 20vh;
  }
}

/* ------------------------- yellow buble background ------------------------ */
