@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@font-face {
  font-family: "Lemon Milk";
  src: url("/assets/fonts/LEMONMILK-Bold.otf") format("opentype");

  font-family: "Bebas Neue";
  src: url("/assets/fonts/BebasNeue-Regular.otf") format("opentype");
}
:root {
  /* fonts */
  --lemon-milk-font: "Lemon Milk", sans-serif;
  --bebas-neuce: "Bebas Neue", sans-serif;
  --montserrat: "Montserrat", sans-serif;

  /* color */
  --white: #ffffff;
  --dark-blue: #004aad;
  --darker-blue: #172a7d;
  --yellow: #f2b705;
  --yellow-background-color: #f2b7051f;

  --white-bacground-color: #ffffffb5;
}
* {
  box-sizing: border-box;
}
body,
html,
h1 {
  padding: 0;
  margin: 0;
  font-family: var(--montserrat);
}
h1 {
  font-size: 3em;
}

h1,
h2 {
  font-family: "Bebas Neue", sans-serif;
  text-align: center;
}
h2 {
  color: var(--dark-blue);
  font-size: 2rem;
  margin: 0;
  font-size: 8vw;
}

a {
  font-family: var(--lemon-milk-font);
  text-transform: uppercase;
}

.exhibition,
.special_events {
  margin: 50px 0;
}

/* images */
.max_img_size {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .max_img_size {
    width: 80%;
  }
  .section_width {
    max-width: 1000px;
  }
  .senter_content {
    display: block;
    margin: 50px auto;
  }
}
@media only screen and (min-width: 1024px) {
  h2 {
    font-size: 4em;
  }
  .max_img_size {
    width: 80%;
  }
  .exhibition img {
    width: 90%;
  }
  .section_width {
    max-width: 1200px;
  }
  .senter_content {
    width: 1000px;
  }
}

/* --------------------------------- header --------------------------------- */

.header,
.header_white {
  text-align: center;
  letter-spacing: 0em;
}

.header h1 {
  color: var(--white);
  padding-top: 10px;
  background-color: var(--dark-blue);
  line-height: 1.8rem;
}
.header_white h1 {
  color: var(--dark-blue);
  line-height: 4rem;
}

@media only screen and (width: 1024px) {
  .header h1 {
    line-height: 3.8rem;
    font-size: 6em;
  }
  .header_white h2 {
    font-size: 4rem;
  }
}
/* ------------------------------ text section ------------------------------ */

.section_width {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 86%;
  text-align: center;
}

.top_content p {
  background-color: var(--white-bacground-color);
}
.top_content img {
  margin-top: 30px;
}

@media only screen and (width: 425px) {
  .top_content img {
    margin-top: 40px;
  }
}

/* --------------------------- Exhibition section --------------------------- */

.exhibition {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.exhibition_img {
  align-self: center;
  justify-self: center;
}
.exhibition img {
  width: 90%;
}

/* ----------------------------------- ... ---------------------------------- */

/* ----------------------------- Special Events ----------------------------- */

.events {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
}
.card {
  width: 90%;
  background-color: var(--white-bacground-color);
  margin: 10px;
}
.card img {
  width: 100%;
}
.event_name {
  font-size: 2em;
}

.card h3,
p {
  font-family: var(--bebas-neuce);
  margin: 10px 0;
  padding: 0 20px;
}

@media screen and (min-width: 768px) {
  .card {
    width: 300px;
    height: 350px;
    margin: 10px;
  }

  .event_name {
    font-size: 2em;
  }
}

.card:hover {
  background-image: linear-gradient(#004aad 60%, #38b6ff);
  cursor: pointer;
  color: white;
  letter-spacing: 3px;
}
/* ------------------------------ get involved ------------------------------ */
.suport_us img {
  width: 70%;

  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}
.suport_us p,
.top_content p {
  padding-top: 20px;
  font-family: var(--montserrat);
  display: block;
  margin: 0px auto;
  background-color: var(--white-bacground-color);
  padding: 20px;
}
.button {
  margin: 30px 0;
  text-align: center;
}
.button a {
  padding: 20px;
  /* background-color: var(--dark-blue); */
  border-radius: 50px;
  background: #004aad;
  box-shadow: inset 10px 10px 7px #00449f, inset -10px -10px 7px #0050bb;

  color: white;
  font-weight: 600;
  text-decoration: none;
  /* border-radius: 10px; */
}
.button a:hover {
  background-color: var(--yellow);
  border-radius: 50px;
  box-shadow: inset 10px 10px 7px #dfa805, inset -10px -10px 7px #ffc605;
}

@media only screen and (width: 1024) {
  .exhibition {
    grid-template-columns: 400px 400px;
  }
}
@media only screen and (min-width: 1440px) {
  .header h1 {
    font-size: 5rem;
    line-height: 3rem;
  }
  .events {
    display: flex;
  }
  .exhibition {
    display: grid;
    grid-template-columns: 500px 500px;
  }
  p {
    font-size: 30px;
  }
  .suport_us img {
    width: 100%;
  }
}
