@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@font-face {
  font-family: "Lemon Milk";
  src: url("/assets/fonts/LEMONMILK-Bold.otf") format("opentype");

  font-family: "Bebas Neue";
  src: url("/assets/fonts/BebasNeue-Regular.otf") format("opentype");
}
:root {
  /* fonts */
  --lemon-milk-font: "Lemon Milk", sans-serif;
  --bebas-neuce: "Bebas Neue", sans-serif;
  --montserrat: "Montserrat", sans-serif;

  /* color */
  --white: #ffffff;
  --dark-blue: #0455bf;
  --darker-blue: #172a7d;
  --yellow: #f2b705;
  --yellow-background-color: #f2b7051f;
}
* {
  box-sizing: border-box;
}
body,
html,
h1 {
  padding: 0;
  margin: 0;
}

/* index.html */

.header,
.header_white {
  text-align: center;
  letter-spacing: 0em;
}

h1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 2em;
}

.header h1 {
  color: var(--white);
  padding-top: 10px;
  background-color: var(--dark-blue);
  line-height: 1rem;
}
.header_white h1 {
  color: var(--dark-blue);
  line-height: 4rem;
}

section {
  margin-bottom: 100px;
}

/* text section */
.section_width {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 86%;
  text-align: center;
}

.top_content p {
  font-family: var(--montserrat);
  color: var(--darker-blue);
  font-size: 15px;
  padding: 2rem;
}

/* images */
.max_img_size {
  width: 100%;
}

@media only screen and (min-width: 800px) {
  section {
    width: 800px;
    display: block;
    margin: 0 auto;
  }
  .max_img_size {
    width: 100%;
  }
}

@media only screen and (width: 1440px) {
  section {
    width: 1100px;
  }
}
