header {
  background-color: var(--dark-blue);
}
nav {
  display: flex;
  justify-content: space-between;
}
.logo_icon {
  height: auto;
  width: 53px;
  height: 48px;
}
.dropdown_icon,
.logo_icon {
  margin: 15px 10px 0px 10px;
}
.dropdown {
  display: none;
}
#hamburger-menu {
  display: none;
}
#hamburger-menu:checked ~ .dropdown {
  display: block;
}
#hamburger-menu:checked ~ .dropdown {
  display: block;
}

.dropdown {
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  top: 0;
  z-index: 50;
  right: 0px;
  background-color: #fffffffa;
  overflow: hidden;
}
.dropdown ul {
  margin-top: 100px;
  list-style-type: none;
  color: var(--darker-blue);
  padding: 0;
}
.dropdown a {
  color: var(--darker-blue);
  font-family: var(--lemon-milk-font);
  text-decoration: none;
  font-size: 40px;
}
.dropdown a:hover {
  color: var(--yellow);
  border-left: var(--yellow) 3px solid;
  background-color: var(--yellow-background-color);
  padding: 20px;
}
.dropdown li {
  text-align: center;
  margin: 30px 0;
}

.right {
  position: absolute;
  right: 0%;
}

/* exhibition menu */
.exhibition {
  width: 86%;
  display: grid;
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: 1fr 1fr;
}
.exhibition img {
  width: 100%;
}

.exhibition_menu {
  /* border: 1px orangered solid; */
  display: block;
  margin: auto 0;
}
.exhibition_menu h2 {
  font-size: 7vw;
}
.exhibition_menu img {
  margin: 5px;
  width: 30px;
}
.exhibition_menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.exhibition_menu a {
  display: grid;
  grid-template-columns: 50px 110px;
  justify-items: left;
  align-items: center;

  text-decoration: none;
  font-family: var(--bebas-neuce);
  font-size: 22px;
  border-left: solid 3px white;
  margin-right: 10px;
}

.cosmology {
  color: #172a7d;
}
.cosmology:hover {
  border-left: solid 3px #172a7d;
  background-color: #172a7d49;
}

.biology {
  color: #21a366;
}
.biology:hover {
  border-left: solid 3px #21a366;
  background-color: #21a3664f;
}

.robotics {
  color: #e13f5f;
}
.robotics:hover {
  border-left: solid 3px #e13f5f;
  background-color: #e13f5f4b;
}

.ecology {
  color: #1866cd;
}
.ecology:hover {
  border-left: solid 3px #1866cd;
  background-color: #1866cd60;
}

.evolution {
  color: #9231be;
}
.evolution:hover {
  border-left: solid 3px #9231be;
  background-color: #9131be65;
}
