header {
  background-color: var(--dark-purple);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-items {
  display: inline-flex;
}

.logo_icon {
  height: auto;
  width: 53px;
  height: 48px;
  margin: 10px;
}
.logo h3 {
  display: none;
  font-family: var(--bebas-neuce);
}
.dropdown_icon {
  margin: 15px 10px 0px 10px;
}
nav {
  display: none;
}
#hamburger-menu {
  display: none;
}
#hamburger-menu:checked ~ nav {
  display: block;
}
#hamburger-menu:checked ~ nav {
  display: block;
}

nav {
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  top: 0;
  z-index: 50;
  right: 0px;
  background-color: var(--white);
  overflow: hidden;
}
nav ul {
  margin-top: 100px;
  list-style-type: none;
  color: var(--darker-blue);
  padding: 0;
}
nav a {
  line-height: 50px;
  color: var(--darker-blue);
  text-decoration: none;
  font-size: 40px;
}
nav a:hover {
  color: var(--orange);
  border-left: var(--orange) 3px solid;
  background-color: var(--yellow-background-color);
}
nav li:hover {
  text-align: center;
  margin: 30px 0;
}

.right {
  position: absolute;
  right: 0%;
}

@media only screen and (min-width: 768px) {
  nav a {
    font-size: 15px;
  }
  .logo h3 {
    display: block;
    color: var(--white);
    font-size: 5vw;
    text-shadow: 2px 2px #8a3a67;
  }
  .header h1 {
    display: none;
  }
  .logo {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logo_text {
    display: block;
    font-family: "Bebas Neue", sans-serif;
    font-size: 2em;
    color: white;
  }
}

@media only screen and (min-width: 1024px) {
  label {
    display: none;
  }
  nav {
    display: flex;
    background-color: transparent;
    position: relative;
  }
  nav li {
    display: inline;
    padding: 0px;
  }
  nav ul {
    margin: 0;
  }
  nav a {
    color: var(--white);
    padding: 10px;
    font-size: 20px;
  }

  nav a:hover {
    color: #f7efe7;
    border-left: #f7efe7 4px solid;
    background-color: #f7efe777;
    margin-left: 0px;
  }

  .nav_links {
    display: flex;
    position: relative;

    background-color: transparent;
  }
  .nav_links li {
    display: inline;
    padding: 0px;
  }
  header {
    height: 100px;
  }
  .logo h3 {
    font-size: 2em;
  }
}
@media only screen and (min-width: 1440px) {
  header {
    padding: 0 200px;
    height: 130px;
  }
  .logo_icon {
    height: auto;
    width: 90px;
  }
}
/* ----------------------------- exhibition menu ---------------------------- */

.exhibition_menu {
  display: block;
  margin: auto 10px;

  background-color: var(--white-bacground-color);
}

@media screen and (min-width: 1024px) {
  .exhibition_menu {
    margin: auto 0px;
  }
  .exhibition_menu a {
    margin-right: 0px;
  }
}

.exhibition_menu img {
  margin: 5px;
  width: 35px;
}
.exhibition_menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.exhibition_menu a {
  display: grid;
  grid-template-columns: 50px 150px;
  align-items: center;

  text-decoration: none;
  font-family: var(--bebas-neuce);
  font-size: 22px;
  border-left: solid 3px #ffffff00;
  margin-right: 10px;
}
@media screen and (min-width: 768px) {
  .exhibition_menu ul {
    margin: 0 10px;
  }
  .exhibition_menu a {
    font-size: 2em;
    grid-template-columns: 50px 300px;
  }
}

.cosmology {
  color: var(--darker-blue);
  text-transform: uppercase;
}
.cosmology:hover {
  border-left: solid 3px var(--darker-blue);
  background-color: #172a7d49;
}

.biology {
  color: #21a366;
}
.biology:hover {
  border-left: solid 3px #21a366;
  background-color: #21a3664f;
}

.robotics {
  color: #e13f5f;
}
.robotics:hover {
  border-left: solid 3px #e13f5f;
  background-color: #e13f5f4b;
}

.ecology {
  color: #312c38;
}
.ecology:hover {
  border-left: solid 3px var(--dark-purple);
  background-color: #1866cd60;
}

.evolution {
  color: #9231be;
}
.evolution:hover {
  border-left: solid 3px #9231be;
  background-color: #9131be65;
}
