.event {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.event p {
  padding: 10px 10px 0 0;
  width: unset;
}

.date {
  font-family: var(--bebas-neuce), "Bebas Neue", sans-serif !important;
  padding: 0;
}

.event h2 {
  text-align: center;
  color: var(--orange);
  margin: 0;
  padding: 20px 10px;
}

.event img {
  border-radius: 100%;
  width: 250px;
  height: 250px;
  padding: 10px;
  display: block;
  margin: auto;
}

.event:nth-child(even) {
  background-color: var(--sunflower);
}

.event_button {
  display: block;
  width: fit-content;
  background: var(--orange);
  color: var(--light-green);
  border: none;
  padding: 20px 30px;
  margin: 10px auto;
}
.event_button:hover {
  background: var(--sunflower);
}

.bold {
  align-self: center;
  font-weight: bolder;
}
.sold_out {
  text-decoration: line-through;
  padding: 0 10px;
}

.sold {
  display: inline-flex;
}

.sold_out_text {
  font-weight: bolder;
  color: var(--orange);
}
.description{
  text-align: center;
  padding: 0px 20px;
}



@media screen and (min-width: 768px) {
  .image_content, .description,.event h2, .event p{
    width: 700px;
    margin: 0;
    padding: 10px;
  }
  .image_content {
    width: 700px;
    display: block;
    margin: auto;
}

  /* .card {
    width: 250px;
    height: 350px;
  }

  .content {
    order: 1;
    display: block;
    margin: auto;
  } */
}
@media screen and (min-width: 1024px) {
  h2{
    font-size: 45px;
  }

  /* .orange_color {
    font-size: 60px;
  }
  .event h2 {
    font-size: 50px;
  }
  .event p {
    font-size: 20px;
  } */
}
