.event {
  justify-items: center;
  display: grid;
  padding: 30px 15px;
  min-width: 300px;
}
.event p {
  padding: 10px 10px 0 0;
}

.date {
  font-family: var(--bebas-neuce), "Bebas Neue", sans-serif !important;
  padding: 0;
}

.event h2 {
  text-align: start;
  color: var(--orange);
  margin: 0;
}

.event img {
  border-radius: 100%;
  width: 250px;
  height: 250px;
  padding: 10px;
}

.event:nth-child(even) {
  background-color: var(--sunflower);
}

.event_button {
  display: block;
  width: fit-content;
  background: var(--orange);
  color: var(--light-green);
  border: none;
  padding: 20px 30px;
  margin: 10px auto;
}
.event_button:hover {
  background: var(--sunflower);
}

.bold {
  align-self: center;
  font-weight: bolder;
}
.sold_out {
  text-decoration: line-through;
  padding: 0 10px;
}

.sold {
  display: inline-flex;
}

.sold_out_text {
  font-weight: bolder;
  color: var(--orange);
}
#professor_of_aeronautics, .image_content{
  width: 300px;
}
#professor_of_aeronautics h2, p, a{
  text-align: center;
}
.image_content img{
  margin: auto;
  display: block;
}


@media screen and (min-width: 768px) {
  .event {
    grid-template-columns: 500px 200px;
    justify-content: center;
    align-items: center;
  }

  .card {
    width: 250px;
    height: 350px;
  }

  .content {
    order: 1;
    display: block;
    margin: auto;
  }
}
@media screen and (min-width: 1024px) {
  .event {
    grid-template-columns: 700px 300px;
    justify-content: center;
    align-items: center;
  }
  .orange_color {
    font-size: 60px;
  }
  .event h2 {
    font-size: 50px;
  }
  .event p {
    font-size: 20px;
  }
}
