.dark_background,
.light_background {
  padding: 10px 0;
}
.dark_background {
  background-color: var(--blue-river);
  width: auto;
}
.dark_background h2, .dark_background p{
  color: var(--light-green);

}
.image_collection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.image_collection img {
  width: 200px;
  margin: 10px;
}
.exhibition_navbar ul {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style-type: none;
}
.exhibition_navbar a {
  font-size: 16px;
  padding: 5px;
  color: var(--green-river);
  text-decoration: none;
}
.exhibition_navbar a:hover {
  color: var(--light-green);
  background-color: var(--blue-river);
}
.exhibition_images{
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1000px;
  margin: auto;
}
.exhibition_images img{
  margin: 0 20px
}

@media only screen and (min-width: 1024px) {
  .exhibition_navbar a {
    font-size: 20px;
  }
  h2 {
    font-size: 4rem;
  }
  .image_collection img {
    width: 400px;
    margin: 10px;
  }
  .exhibition_images img{
    max-width: 400px;
  }
  
}
