.dark_background,
.light_background {
  padding: 10px 0;
}
.dark_background {
  background-color: var(--blue-river);
  width: auto;
}
.dark_background p{
  color: var(--light-green);

}

.exhibition_image  {
  width: 300px;
  display: block;
  margin: auto;
}
.exhibition_navbar ul {
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style-type: none;
}

.exhibition_navbar a {
  font-size: 16px;
  padding: 5px;
  color: var(--blue-river);
  text-decoration-style: solid;
  text-decoration-color: var(--orange);
}

.exhibition_navbar a:hover {
  color: var(--light-green);
  background-color: var(--blue-river);
}
.center_content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.center_content img {
margin:20px;
}
@media only screen and (min-width: 768px) {

  .exhibition_image  {
    width: 500px;
    display: block;
    margin: auto;
  }
}


@media only screen and (min-width: 1024px) {
  .exhibition_navbar a {
    font-size: 20px;
  }
  h2 {
    font-size: 4rem;
  }

  
}
