footer {
  background-color: var(--dark-blue);
  display: grid;
  padding-bottom: 30px;
}
.footer_logo {
  width: 80%;
  align-self: center;
  justify-self: center;
}
.footer_logo img {
  max-width: 200px;
}

.contact_info {
  display: grid;
  padding-top: 20px;
}

.address {
  display: grid;
  grid-template-columns: 80px 1fr;
  margin: 15px;
}

.contact_icon {
  align-self: center;
  justify-self: center;
  padding-right: 10px;
}

.contact_info p {
  color: var(--white);
  font-family: var(--montserrat);
  margin: 0;
  font-size: 15px;
}
.links {
  padding: 10px 0;
}
.links a {
  color: var(--white);
  font-family: var(--montserrat);
  border-left: var(--dark-blue) 3px solid;
  text-transform: uppercase;
  padding: 10px;
  margin: 20px;
}
.links a:hover {
  text-decoration: none;
  color: var(--white);
  border-left: var(--white) 3px solid;
  background-color: #f7efe777;
}
.links li {
  margin: 10px;
}
.links ul {
  list-style-type: none;
}

@media only screen and (min-width: 768px) {
  footer {
    grid-template-columns: 1fr 1fr;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .footer_logo {
    order: 1;
  }
  .links {
    order: 2;
  }
  .contact_info {
    order: 1;
  }
}

@media only screen and (min-width: 1024px) {
  footer {
    justify-content: center;
    grid-template-columns: 300px 300px 300px;
  }
  .footer_logo {
    order: 0;
  }
  .links {
    display: block;
    margin: auto 10px;
    order: 2;
  }
  .contact_info {
    order: 3;
  }
}
