footer {
  margin-top: 50px;

  background-color: var(--blue-river);
  display: grid;
  padding-bottom: 30px;
}
.bolder {
  font-weight: bolder;
}
.footer_logo {
  justify-self: center;
}
.footer_logo img {
  max-width: 200px;
}

.contact_info {
  display: grid;
}

.address {
  display: grid;
  grid-template-columns: 60px 1fr;
  margin: 30px;
}

.contact_icon {
  align-self: center;
  padding-right: 10px;
}
.contact_icon img {
  width: 50px;
}

.contact_info p {
  color: var(--light-green);
  margin: 0;
  padding: 0;
}

footer ul {
  list-style-type: none;
  text-align: center;
  padding: 0;
}
footer li{
  margin-top: 10px;
}
.link{
  color: var(--light-green);
  font-size: 15px;
  letter-spacing: 2px;
  text-decoration: none;
}
.link:hover {
  color: var(--dark-river);
  border-left: var(--light-green) 3px solid;
  background-color: #f7efe777;
  padding: 10px;
}


@media only screen and (min-width: 768px) {
  footer {
    grid-template-columns: 1fr 1fr;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .footer_logo {
    order: 1;
    align-self: center;
  }
  .links {
    order: 0;
    grid-column: 1 / 4;
    margin: 30px 0;
    
    display: inline-grid;
    
    text-align: center;
  }
  .links ul {
    padding: 0;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .links a {
    padding: 0 30px;
  }
  .contact_info {
    order: 1;
  }
}

@media only screen and (min-width: 1024px) {
  footer {
    margin-top: 80px;
    justify-content: center;
    grid-template-columns: 200px 200px 400px;
  }
  .footer_logo {
    order: 0;
  }
  .links {
    grid-column: 2;
  }
  .links a {
    padding: 0 10px;
  }
  .links ul {
display: block;
    flex-wrap: nowrap;

}
}
