footer {
  background-color: var(--river);
  display: grid;
  padding-bottom: 30px;
}
.bolder {
  font-weight: bolder;
}
.footer_logo {
  justify-self: center;
}
.footer_logo img {
  max-width: 200px;
}

.contact_info {
  display: grid;
  padding-top: 20px;
  justify-items: center;
}

.address {
  display: grid;
  grid-template-columns: 80px 1fr;
  /* margin: 15px; */
}

.contact_icon {
  align-self: center;
  justify-self: center;
  padding-right: 10px;
}
.contact_icon img{
  width: 50px;
}

.contact_info p {
  color: var(--white);
  font-family: var(--montserrat);
  margin: 0;
  padding: 0;
  font-size: 15px;
}

.links a {
  color: var(--white);
  border-left: var(--river) 3px solid;
  letter-spacing: 2px;
  text-decoration: none;
}
.links a:hover {
  color: var(--white);
  border-left: var(--white) 3px solid;
  background-color: #f7efe777;
}

.links ul {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

@media only screen and (min-width: 768px) {
  footer {
    grid-template-columns: 1fr 1fr;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .footer_logo {
    order: 1;
    align-self: center;
  }
  .links {
    order: 0;
    grid-column: 1 / 4;
    margin: 30px 0;

    display: inline-grid;
    justify-items: center;
    align-items: center;

    text-align: center;
  }
  .links ul {
    padding: 0;
    display: inline-flex;
  }
  .links a {
    padding: 0 20px;
    font-size: 20px;
  }
  .contact_info {
    order: 1;
  }
  .contact_info {

    justify-items: unset;
}
}

@media only screen and (min-width: 1024px) {
  footer {
    justify-content: center;
    grid-template-columns: 300px 300px 300px;
    margin-top: 4pc;

  }
  .footer_logo {
    order: 0;
  }
  .links {
    display: block;
    margin: auto 10px;
    grid-column: 2;
    padding-top: 30px;
  }
  .links ul {
    display: block;
  }
  .contact_info p {
    font-size: 18px;
}
}
