@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&display=swap");

@font-face {
  font-family: "Apex 2 - Bold";
  src: url("/assets/fonts/ApexMk2-BoldExtended.otf") format("opentype");
}
:root {
  /* fonts */
  --bebas-neuce: "Bebas Neue", sans-serif;
  --Apex-bold: "Apex 2 - Bold", sans-serif;
  --montserrat: "Montserrat", sans-serif;

  /* color */
  --blue-river: #025A83;

  --sunflower: #f1c40f;
  --dark-river: #2f4858;
  --light-green: #fff;

  --wisteria: #8e44ad;
  --orange: #ee4540;
}

body,
html,
h1,
p {
  padding: 0;
  margin: 0;
}

.exhibition,
.info_section,
.special_events,
.suport_us,
.exhibition_navbar,
.light_background,
.dark_background p {
  max-width: 1000px;
  margin: auto;
}

h3,
h2,
h1 {
  text-align: center;
  color: var(--dark-river);
  font-family: var(--bebas-neuce), "Bebas Neue", sans-serif !important;
}
h1,
h2 {
  font-size: 40px;
}
h3 {
  font-size: 35px;
}
p {
  font-size: medium;
  font-family: var(--montserrat);
  color: var(--dark-river);
  padding: 20px;
  line-height: 25px;
}

a {
  font-family: var(--montserrat), sans-serif;
  color: var(--dark-river);
  text-transform: uppercase;
  font-weight: bolder;
}
a:hover {
  color: var(--orange);
}

.purple_text {
  color: var(--wisteria);
}
.orange_text {
  color: var(--orange);
}

.white_text {
  color: var(--light-green);
}

.images {
  min-width: 300px;
  display: block;
  margin: 20px auto;
}

.info_section,
.exhibition p,
.suport_us p {
  text-align: center;
}
.header_content {
  max-width: none;
}
.map_image{
  min-width: 300px;
  max-width: 900px;
}

/* ----------------------------- Special Events ----------------------------- */
.special_events {
  margin-top: 100px;
}
.events {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
}

.card {
  cursor: pointer;
  background: linear-gradient(145deg, #8e44ad 20%, #025A83);
  margin: 10px;
  width: 300px;
}
.card:hover {
  cursor: pointer;
  background: var(--wisteria);
}
.card a {
  color: var(--light-green);
  text-decoration: none;
  letter-spacing: 1px;
}
.card img {
  width: 100%;
}
.card h5 {
  color: var(--light-green);
  font-size: 15px;
}
.card h4 {
  font-size: 27px;
}

.card h4,
.card h5 {
  font-family: var(--bebas-neuce), "Bebas Neue", sans-serif !important;
  margin: 10px 0;
  padding: 0 20px;
}

/* --------------------------------- Buttons -------------------------------- */

.content_button {
  margin: 30px 0;
}
.content_button {
  padding: 15px 50px;
  border-radius: 50px;
  background-image: linear-gradient(145deg, #8e44ad 20%, #025A83);
  box-shadow: #00000080 0 3px 6px;

  font-weight: 600;
  text-decoration: none;

  display: block;
  margin: 20px auto;
  width: fit-content;
}
.content_button:hover {
  border-radius: 50px;
  background: var(--blue-river);
}
.content_button a {
  color: var(--light-green);
}

/* about_us.html */
.visit_us{
  max-width: 1000px;
  display: block;
  margin: 0 auto;
}
.visit_info{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.vist_address {
  display: grid;
  grid-template-columns: 60px 1fr;
  margin: 30px;
}

.info p {
  color: var(--midnight-blue);
  padding: 0;
}

.opening_hours table {
  margin: 30px auto;
  text-align: center;
  font-family: var(--montserrat), sans-serif;
}

.closed {
  color: var(--orange);
  font-weight: bolder;
}

.img_size {
  display: block;
  margin: 30px auto;
  width: 80%;
}

.info p {
  color: #2f4858;
}
.contact_us_form {
  padding-bottom: 30px;
}

/* get involved */
.purple {
  background: var(--wisteria);
  max-width: 2000px;
}
.purple p,
.purple h2 {
  color: var(--light-green);
}
.button {
  text-align: center;
  padding-bottom: 30px;
}
.purple_button {
  background: var(--light-green);
  padding: 20px 30px;
  font-weight: bolder;
  border-radius: 30px;
  display: inline-block;
  margin: 0 auto;
  text-align: center;
}

/* media query tablet size 768px */
@media screen and (min-width: 768px) {
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 45px;
  }

  .images {
    max-width: 800px;
  }

  .senter_content {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

  .img_size {
    width: 50%;
  }
}

@media screen and (min-width: 1024px) {
  h2 {
    font-size: 60px;
  }
  h3 {
    font-size: 55px;
  }
  p {
    font-size: 20px;
  }
  form {
    width: 700px;
  }
  .header_text {
    line-height: unset;
  }
  .purple p,
  .white_background p {
    max-width: 1000px;
    display: block;
    margin: 0 auto;
  }
}
