@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&display=swap");
@font-face {
  font-family: "Lemon Milk";
  src: url("/assets/fonts/LEMONMILK-Bold.otf") format("opentype");

  font-family: "Apex 2";
  src: url("/assets/fonts/ApexMk2-Regular.otf") format("opentype");

  font-family: "Apex 2 - Bold";
  src: url("/assets/fonts/ApexMk2-BoldExtended.otf") format("opentype");
}
:root {
  /* fonts */
  --lemon-milk-font: "Lemon Milk", sans-serif;
  --bebas-neuce: "Bebas Neue", sans-serif;
  --Apex-bold: "Apex 2 - Bold", sans-serif;
  --montserrat: "Montserrat", sans-serif;

  /* color */
  --white: #f2f2f0;
  --white-ish: #f7efe7;
  --sunflower: #f1c40f;
  --sunflower-light: #f1c40f5b;
  --midnight-blue: #2c3e50;
  --river: #3498db;
  --wisteria: #8e44ad;
  --tomatos: #ee4540;

  --dark-blue: #172a7d;

  --light-pink: #bfa8b1;

  --orange: #d94436;
  --orange-2: #e13f5f;
  --yellow-background-color: #f2b7051f;
}
* {
  box-sizing: border-box;
}
body{
  background-color: var(--white);
}
body,
html,
h1 {
  padding: 0;
  margin: 0;
}

h1,
h2 {
  font-family: var(--Apex-bold);
  text-align: center;
  text-transform: uppercase;
}

p {
  font-family: var(--montserrat);
}

a {
  font-family: var(--montserrat),  sans-serif;
  text-transform: uppercase;
  font-weight: bolder;
  color: var(--tomatos);
}
a:hover{
  color: var(--wisteria);
}

/* section{
  padding: 30px 0;
} */
.purple_text {
  color: var(--wisteria);
}

.white_text {
  color: var(--white);
}
.orange_text{
  color: var(--tomatos);
}
.senter_content {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.images{
  width: 300px;
  display: block;
  margin: 20px auto;
}

/* ----------------------------- Header Section ----------------------------- */

.background_header {
  background-image: url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/pd44-069-ae-2a.jpg?w=600&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=409cd63b190b8e8c253970a92bd672ff");
  height: 11pc;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
@supports (-webkit-touch-callout: inherit) {
  .background_header {
    background-position: center;
    background-size: cover;
    height: 15pc;
    background-attachment: scroll;
  }
}

/* ----------------------------- Special Events ----------------------------- */
.special_events {
  margin-top: 100px;
}
.events {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
}
.card {
  background-image: linear-gradient(var(--dark-blue) 70%, var(--river));
  margin: 10px;
  width: 300px;
}
.card a{
  color: var(--white);
  text-decoration: none;
}
.card img {
  width: 100%;
}

.card h4,
.card p {
  font-family: var(--bebas-neuce), "Bebas Neue", sans-serif;
  text-transform: uppercase;
  margin: 10px 0;
  padding: 0 20px;
  letter-spacing: 2px;
}

.card:hover {
  cursor: pointer;
  background-image: linear-gradient(145deg, #e68027 50%, var(--orange));
}

/* --------------------------------- Buttons -------------------------------- */
.purple_button {
  color: var(--wisteria);
  text-decoration: none;


  padding: 15px 50px;
  border-radius: 50px;
  background: var(--white);
  box-shadow: #00000080 0px 3px 6px;

  display: block;
  margin: 0 auto;
  margin-top: 30px;
  width: fit-content;
}

.content_button {
  margin: 30px 0;
}
.content_button .button, input[type=submit] {
  padding: 15px 50px;
  border-radius: 50px;
  background: #e73c37;
  box-shadow: #00000080 0px 3px 6px;

  color: var(--white);
  font-weight: 600;
  text-decoration: none;

  display: block;
  margin: 0 auto;
  width: fit-content;
}
.content_button .button:hover, input[type=submit]:hover {
  background: linear-gradient(145deg, #e68027, #ff982e);
  border-radius: 50px;
  box-shadow: inset 10px 10px 7px #d97925, inset -10px -10px 7px #ffa331;
}

/* ------------------------------- events.html ------------------------------ */
.event {
  padding: 20px 30px;
  justify-items: center;
  display: grid;
  grid-gap: 30px;
}

.date {
  font-family: var(--bebas-neuce);
}

.event h2,
.book_event h2 {
  text-align: start;
  font-family: var(--bebas-neuce);
  color: var(--tomatos);
  margin: 0;
  letter-spacing: 2px;
}

.event p {
  text-align: start;
  padding: 5px;
}

.event img {
  border-radius: 100%;
  width: 250px;
  height: 250px;
  padding: 10px;
}

.event:nth-child(even) {
  background-color: var(--sunflower);
  width: 100%;
}

.book_event h2 {
  text-align: center;
}

form {
  display: grid;
  width: 300px;
  margin: auto;
}

input[type=text],
input[type=email],
textarea {
  border: none;
  border-bottom: 3px solid var(--sunflower);
  height: 30px;
  padding: 30px;
  margin-bottom: 20px;
  width: 100%;

}

input[type=text]:focus,
input[type=email]:focus,
textarea:focus {
  border: none;
  border: solid var(--orange);
  outline-width: 0;
}

.event_form_label {
  display: block;
  font-family: var(--bebas-neuce);
  color: var(--tomatos);
}

select {
  height: 55px;
  padding: 10px;
  margin-bottom: 20px;
}

input[type=submit] {
  border: none;

}

.bold {
  font-weight: bolder;
}

.sold_out {
  text-decoration: line-through;
}

.sold {
  display: inline-flex;
}

.sold_out_text {
  font-weight: bolder;
  color: var(--tomatos);
}

/* ------------------------------ about_us.html ----------------------------- */
.decore {
  display: block;
  margin: 0 auto;
}

.visit_us h2,
h1 {
  color: var(--sunflower);
}

.about_us p {
  padding: 10px;
}


.info p {
  color: var(--midnight-blue);
  padding: 0;
}

.opening_hours table {
  margin: 30px auto;
  text-align: center;

  font-family: var(--montserrat), sans-serif;
}

.closed {
  color: var(--tomatos);
  font-weight: bolder;
}

.img_size {
  display: block;
  margin: 30px auto;
  width: 80%;

}

.book_event {
  margin-top: 50px;
  padding: 50px;
  border-top: 3px ridge var(--tomatos);
}

input[type=submit].contact {
  margin-top: 30px;
}

/* --------------------------------- Tablet --------------------------------- */
/* size of 768px */
@media only screen and (min-width: 768px) {
  .images{
    width: 600px;
    display: block;
    margin: 20px auto;
  }
  p {
    margin:0 100px;
  }

  /* Text content */
  .top_content p,
  .suport_us p {
    max-width: 800px;
    margin: 0 auto;
  }
  .senter_content {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

  .card {
    width: 250px;
    height: 350px;
  }

  .event {
    grid-template-columns: 1fr 200px;
}

.event:nth-child(even) {
    grid-template-columns: 200px 1fr;
}


.content {
    order: 1;
    display: block;
    margin: auto;
}

.image_content {
    order: 2;
}
.img_size {
  width: 50%;

}
}

@media only screen and (min-width: 1024px) {
form{
  width: 700px;
}


  .header_text {
    line-height: unset;
}

.main_section {
  max-width: 1200px;
  margin: 0 auto;
}

}

@media only screen and (min-width: 1440px) {
  .header h1 {

    line-height: 3rem;
  }
  .events {
    display: flex;
  }

.background_header {
  height: 40pc;
}
}