.background_header {
  background-image: url("/images/background_image.jpg");
  height: 6pc;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.header {
  background-color: var(--river);
  display: flex;
  justify-content: space-between;
}
.header_text {
  background-color: var(--river);
  color: var(--white);
  margin: 0;
  line-height: 1.4pc;
  font-size: 3rem;
}
.menu-items {
  display: inline-flex;
  align-items: center;
}

.logo_icon {
  height: auto;
  width: 53px;
  height: 48px;
  margin: 10px;
}

.dropdown_icon {
  margin: 15px 30px 0px 10px;
}
nav {
  display: none;
}
#hamburger-menu {
  display: none;
}
#hamburger-menu:checked ~ nav {
  display: block;
}

nav {
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  top: 0;
  z-index: 50;
  right: 0px;

  background-color: var(--white);
}
nav ul {
  margin: 200px 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}
nav li {
  margin: 30px 0;
}
nav a {
  font-family: "SFMonoRegular", monospace !important;
  color: var(--wisteria);
  text-decoration: none;
  font-size: 40px;
}
nav a:hover {
  color: var(--white);
}
p {
  font-family: "Manrope", sans-serif !important;
}
.right {
  position: absolute;
  right: 0%;
}

/* --------------------------- Exhibition section --------------------------- */

.exhibitions {
  margin-top: 20px;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}
.container {
  cursor: pointer;
  display: block;
  margin: 10px 10px;

  width: 120px;
  height: 120px;

  position: relative;
  box-shadow: #00000059 0px 3px 6px;
  border-radius: 20px;
  background: linear-gradient(145deg, #ffffff, #e6e6e6);
}
.container img {
  width: 50px;
}
.container a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 0.6rem;
  /* padding: 10px; */
  text-decoration: none;
  text-align: center;

  font-family: var(--Apex-bold);
  font-weight: 900;
}
.image {
  display: block;
  width: 100%;
  height: auto;
}
.text {
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  /* -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); */
  transform: translate(-50%, -50%);
}

.our_exhibitions a {
  color: var(--orange);
}
.our_exhibitions:hover {
  background-image: linear-gradient(
      rgba(238, 236, 236, 0.5),
      rgba(202, 202, 202, 0.5)
    ),
    url("/images/building-images/hammerdalen-2.jpg");
  background-size: cover;
  background-position: center;
}

.cosmology a {
  color: #172a7d;
}

.cosmology:hover {
  background-image: linear-gradient(
      rgba(238, 236, 236, 0.5),
      rgba(202, 202, 202, 0.5)
    ),
    url("/images/events/cosmology.jpg");
  background-size: cover;
  background-position: bottom;
}

.biology a {
  color: #21a366;
}
.biology:hover {
  background-image: linear-gradient(
      rgba(238, 236, 236, 0.5),
      rgba(202, 202, 202, 0.5)
    ),
    url("/images/events/biology.jpg");
  background-size: cover;
  background-position: bottom;
}

.robotics a {
  color: #e13f5f;
}
.robotics:hover {
  background-image: linear-gradient(
      rgba(238, 236, 236, 0.5),
      rgba(202, 202, 202, 0.5)
    ),
    url("/images/events/robotics.jpg");
  background-size: cover;
  background-position: bottom;
}

.ecology a {
  color: #0455bf;
}
.ecology:hover {
  background-image: linear-gradient(
      rgba(238, 236, 236, 0.5),
      rgba(202, 202, 202, 0.5)
    ),
    url("/images/events/ecology.jpg");
  background-size: cover;
  background-position: bottom;
}

.evolution a {
  color: #9231be;
}
.evolution:hover {
  background-image: linear-gradient(
      rgba(238, 236, 236, 0.5),
      rgba(202, 202, 202, 0.5)
    ),
    url("/images/events/evolution.jpg");
  background-size: cover;
  background-position: bottom;
}

@media only screen and (min-width: 768px) {
  .header_text {
    line-height: 2.7pc;
    font-size: 5rem;
    letter-spacing: -4px;
  }
  .exhibitions {
    grid-gap: 20px;
  }
  .container {
    width: 200px;
    height: 150px;
  }
  .container a {
    font-size: 18px;
  }
}

@media only screen and (min-width: 1024px) {
  .background_header {
    background-image: url("/images/background_image.jpg");
    height: 10pc;
  }
  .header_text {
    line-height: 5pc;
    font-size: 7rem;
    letter-spacing: -3px;
  }
  label {
    display: none;
  }
  nav {
    display: flex;
    background-color: transparent;
    align-items: center;

    position: relative;
  }
  nav li {
    display: inline;
    padding: 0px;
  }
  nav ul {
    margin: 0;
  }
  nav a {
    color: var(--white);
    padding: 10px;
    font-size: 20px;
    letter-spacing: 2px;
    border-left: var(--river) 4px solid;
  }

  nav a:hover {
    border-left: var(--white) 4px solid;
    background-color: #f7efe777;
  }

  .header {
    height: 100px;
    padding: 0 10px;
  }
}

@media only screen and (min-width: 1440px) {
  .header {
    padding: 0 20px;
    height: 130px;
  }
  .header_text {
    line-height: 5pc;
    font-size: 8rem;
    letter-spacing: -3px;
  }
  .logo_icon {
    height: auto;
    width: 90px;
  }
  .exhibitions {
    display: grid;
    grid-template-columns: 250px 250px 250px;
  }

  .background_header {
    background-image: url("/images/background_image.jpg");
    background-attachment: fixed;
    background-size: cover;
    height: 12pc;
  }
}
