.background_header {
  background-image:linear-gradient(
    rgba(238, 236, 236, 0.5),
    rgba(202, 202, 202, 0.5)
  ), url("/images/william-bout-264826.jpg");
  height: 6pc;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.background_header h2{
  margin: 0;
}

.header {
  background-color: var(--blue-river);
  display: flex;
  justify-content: space-between;
}
.header_text {
  background-color: var(--blue-river);
  color: var(--light-green);
  line-height: 25px;
}
.menu-items {
  display: inline-flex;
  align-items: center;
}

.logo_icon {
  width: 50px;
  margin: 15px;
}

.dropdown_icon {
  margin: 15px ;
}
nav {
  display: none;
}

header label {
  position: relative;
  z-index: 99;
}

#hamburger-menu {
  display: none;
}
#hamburger-menu:checked ~ nav {
  display: block;
}

nav {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 50;
  right: 0px;

  background-color: var(--blue-river);
}
nav ul {
  margin: 200px 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}
nav li {
  margin: 30px 0;
}
nav a {
  font-family: var(--montserrat), sans-serif !important;
  color: var(--light-green);
  text-decoration: none;
  font-size: 40px;
}
nav a:hover {
  color: var(--light-river);
}

.right {
  position: absolute;
  right: 0%;
}
/* --------------------------- Exhibition section --------------------------- */

.exhibitions {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}
.container {
  cursor: pointer;
  display: block;
  margin: 10px 10px; 

  width: 130px;
  height: 120px;
  text-align: center;
  position: relative;
  box-shadow: #00000059 0px 3px 6px;
  border-radius: 20px;
  background: linear-gradient(145deg, #ffffff, #e6e6e6);
}
.container img {
  width: 35px;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}
.text {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: absolute; 

  font-family: var(--Apex-bold);
  font-size: 14px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} 

.our_exhibitions {
  color: var(--orange);
}
.our_exhibitions:hover {
    background-image: linear-gradient(
      rgba(238, 236, 236, 0.5),
      rgba(202, 202, 202, 0.5)
    ),
    url("/images/events/cosmology.jpg");
  background-size: cover;
  background-position: center;
}

.cosmology {
  color: #172a7d;
}

.cosmology:hover {
  background-image: linear-gradient(
      rgba(238, 236, 236, 0.5),
      rgba(202, 202, 202, 0.5)
    ),
    url("/images/events/cosmology.jpg");
  background-size: cover;
  background-position: bottom;
}

.biology {
  color: #21a366;
}
.biology:hover {
  background-image: linear-gradient(
      rgba(238, 236, 236, 0.5),
      rgba(202, 202, 202, 0.5)
    ),
    url("/images/events/biology.jpg");
  background-size: cover;
  background-position: bottom;
}

.robotics {
  color: #e13f5f;
}
.robotics:hover {
  background-image: linear-gradient(
      rgba(238, 236, 236, 0.5),
      rgba(202, 202, 202, 0.5)
    ),
    url("/images/events/robotics.jpg");
  background-size: cover;
  background-position: bottom;
}

.ecology {
  color: #0455bf;
}
.ecology:hover {
  background-image: linear-gradient(
      rgba(238, 236, 236, 0.5),
      rgba(202, 202, 202, 0.5)
    ),
    url("/images/events/ecology.jpg");
  background-size: cover;
  background-position: bottom;
}

.evolution {
  color: #9231be;
}
.evolution:hover {
  background-image: linear-gradient(
      rgba(238, 236, 236, 0.5),
      rgba(202, 202, 202, 0.5)
    ),
    url("/images/events/evolution.jpg");
  background-size: cover;
  background-position: bottom;
}

@media only screen and (min-width: 768px) {
  
  .header_text {
    line-height: 35px;
    font-size: 60px;
  }
  .background_header {
    height: 8pc;
  }
  .background_header h2 {
    font-size: 50px;
  }
  .exhibitions {
    grid-gap: 20px;
  }
  .container {
    width: 200px;
    height: 150px;
  }
  .text{
    font-size: 18px;
  }
}

@media only screen and (min-width: 1024px) {
  .background_header {
    height: 10pc;
    background-position: top;
    background-size: cover;
    height: 12pc;
  }
  .background_header h2 {
    font-size: 50px;
  }
  .header_text {
    line-height: 63px;
    font-size: 100px;

  }
  label {
    display: none;
  }
  nav {
    display: flex;
    background-color: transparent;
    align-items: center;

    position: relative;
  }
  nav li {
    display: inline;
    padding: 0px;
  }
  nav ul {
    margin: 0;
  }
  nav a {
    color: var(--light-green);
    padding: 10px;
    font-size: 20px;
    border-left: var(--blue-river) 4px solid;
  }

  nav a:hover {
    border-left: var(--white) 4px solid;
    background-color: #f7efe777;
  }

  .header {
    height: 100px;
    padding: 0 10px;
  }
}

@media only screen and (min-width: 1440px) {
  .header {
    padding: 0 20px;
    height: 130px;
  }
  .background_header h2 {
    font-size: 70px;
  }
  .logo_icon {
    height: auto;
    width: 90px;
  }
  .exhibitions {
    display: grid;
    grid-template-columns: 250px 250px 250px;
  }

  .background_header {
    background-attachment: fixed;
    background-size: cover;
    height: 12pc;
  }
}
