.header {
  background-color: var(--river);
  display: flex;
  justify-content: space-between;
}
.header_text {
  background-color: var(--river);
  color: var(--white);
  line-height: 14px;
  margin: 0;
  font-size: 1.6em;
}
.menu-items {
  display: inline-flex;
  align-items: center;
}

.logo_icon {
  height: auto;
  width: 53px;
  height: 48px;
  margin: 10px;
}

.dropdown_icon {
  margin: 15px 30px 0px 10px;
}
nav {
  display: none;
}
#hamburger-menu {
  display: none;
}
#hamburger-menu:checked ~ nav {
  display: block;
}
#hamburger-menu:checked ~ nav {
  display: block;
}

nav {
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  top: 0;
  z-index: 50;
  right: 0px;
  background-color: var(--white);
  overflow: hidden;
}
nav ul {
  display: block;
  margin: 200px 0;
  list-style-type: none;
  text-align: center;
}
nav li {
  margin: 30px 0;
}
nav a {
  color: var(--dark-blue);
  text-decoration: none;
  font-size: 40px;
}
/* nav a:hover {
  color: var(--orange);
  border-left: var(--orange) 3px solid;
  background-color: var(--yellow-background-color);
}
nav li:hover {
  text-align: center;
  margin: 30px 0;
} */

.right {
  position: absolute;
  right: 0%;
}

/* --------------------------- Exhibition section --------------------------- */

.exhibitions {
  margin-top: 20px;
  flex-wrap: wrap;
  display: flex;
  /* grid-template-columns: 1fr 1fr; */
  /* grid-gap: 10px; */
  justify-content: center;
  justify-items: center;
}
.container {
  cursor: pointer;
  display: block;
  /* border: red 1px solid; */
  margin-top: 20px;
  margin-right: 10px;
  margin-left: 10px;

  width: 150px;
  height: 150px;

  position: relative;
  box-shadow: #00000059 0px 3px 6px;
  border-radius: 20px;
  background: linear-gradient(145deg, #ffffff, #e6e6e6);
}
.container img {
  width: 30px;
}
.container a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  padding: 10px;

  font-family: var(--Apex-bold);
  font-weight: 900;
}
.image {
  display: block;
  width: 100%;
  height: auto;
}
.text {
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: rgba(255, 255, 255, 0.534);
}

.container:hover .overlay {
  opacity: 1;
}
.our_exhibitions a {
  color: var(--tomatos);
}
.our_exhibitions:hover {
  background-image: url("/images/building-images/hammerdalen-2.jpg");
  background-size: cover;
  background-position: center;
}

.cosmology a {
  color: #172a7d;
}

.cosmology:hover {
  background-image: url("/images/events/cosmology.jpg");
  background-size: cover;
  background-position: bottom;
}

.biology a {
  color: #21a366;
}
.biology:hover {
  background-image: url("/images/events/biology.jpg");
  background-size: cover;
  background-position: bottom;
}

.robotics a {
  color: #e13f5f;
}
.robotics:hover {
  background-image: url("/images/events/robotics.jpg");
  background-size: cover;
  background-position: bottom;
}

.ecology a {
  color: #0455bf;
}
.ecology:hover {
  background-image: url("/images/events/ecology.jpg");
  background-size: cover;
  background-position: bottom;
}

.evolution a {
  color: #9231be;
}
.evolution:hover {
  background-image: url("/images/events/evolution.jpg");
  background-size: cover;
  background-position: bottom;
}

@media only screen and (min-width: 768px) {
  nav a {
    font-size: 40px;
  }
  .logo {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logo_text {
    display: block;
    font-family: "Bebas Neue", sans-serif;
    font-size: 2em;
    color: var(--white);
  }

  .header_text {
    font-size: 3em;
    line-height: 29px;
  }
  .exhibitions {
    grid-gap: 20px;
  }
  .container {
    width: 200px;
    height: 200px;
  }
  .container a {
    font-size: 20px;
  }
}

@media only screen and (min-width: 1024px) {
  label {
    display: none;
  }
  nav {
    display: flex;
    background-color: transparent;
    align-items: center;

    position: relative;
  }
  nav li {
    display: inline;
    padding: 0px;
  }
  nav ul {
    margin: 0;
  }
  nav a {
    color: var(--white);
    padding: 10px;
    font-size: 30px;
    letter-spacing: 2px;
  }

  nav a:hover {
    /* color: var(--sun-flower); */
    border-left: var(--sunflower) 4px solid;
    background-color: var(--sunflower-light);
    margin-left: 0px;
  }

  .nav_links {
    display: flex;
    position: relative;

    background-color: transparent;
  }
  .nav_links li {
    display: inline;
    padding: 0px;
  }
  .header {
    height: 100px;
  }
  .logo h3 {
    font-size: 30px;
  }
}

@media only screen and (min-width: 1440px) {
  .header {
    padding: 0 10%;
    height: 130px;
  }
  .logo_icon {
    height: auto;
    width: 90px;
  }
  .exhibitions {
    display: grid;
    grid-template-columns: 250px 250px 250px;
  }
}
